.menu_img_1 {
    display: block;
    justify-content: center;
    padding-bottom: 5rem;
    padding-top: 5rem;
   
}
.jjjjj{
    display: flex;
    justify-content: center;
    align-items: center;
    color: blanchedalmond;
    padding-top: 5rem;
    padding-bottom: 5rem;
  
}
.jjjjj h1{
    font-size: 50px;
    white-space: nowrap;
}
.jjjjj img{
    width: 599px;
    height: 1vh;
    border-radius: 10px;
}
.menu_text_1 img{
    width: 500px;
    height: 30vh;
    filter: blur(5px);
    border-radius: 15px;
}
.menu_text_1 img:hover{
    filter: blur(0px);
    transition: 0.20s;
}

.menu_text_1{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.menu_text_10{
    display: flex;
    color: blanchedalmond;
    justify-content: space-between;
    
}
.menu_text_10 h6{
    font-size: 25px;
}
.menu_text_1 hr{
     width: 600px;
     height: 1vh;
}
.img_4{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
.img_50{
    display: flex;
    gap: 1rem;
}