@import url('https://fonts.googleapis.com/css2?family=Vollkorn+SC&display=swap');
body{
	background-color: black;
}
.burger{
	display: flex;
	justify-content: space-evenly;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}
.igonka svg{
    color: rgb(214, 217, 219);
    align-items: center;
   
}

.menu_ooo{
	display: flex;
	justify-content: center;
}
.con_menu{
	display: flex;
	gap: 5rem;
	align-items: center;
}

.conponens{
	display: flex;
    gap: 2rem;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 1.5rem; 
}
.conponens a{
	text-decoration: none ;
	color: azure;
	transition: .2s ease-in;
	font-family: 'Vollkorn SC', serif;
	
}
.van:hover  a{
	  color: rgb(21, 111, 117);
	  font-size: 25px;
	  transform: scale(1.1);
	  transition: .2s ease-in;
}



.nav a{
	color: rgb(0, 0, 0);
    font-family: 'Vollkorn SC', serif;
}

.burger_menu{
	display: flex;
    justify-content: space-between;
	gap: 5rem;
}
.menu_burger{
	display: flex;
	justify-content:space-between;
	gap: 20rem;
	padding: 15px;
	
}
.nav{
    display: flex;
    justify-content: space-evenly;
}
.nav a{
    text-decoration: none;
    color: rgb(236, 236, 233);
    font-size: 35px;
	font-family: 'Vollkorn SC', serif;
}
.nav img:hover{
    width: 195px;

}

.nav img{
    width: 180px;
}
.menu_burger img:hover{
    transform: rotate(360deg);
	transition: 0.4s;
}



@media  (min-width:280px ) and (  max-width:379px){

	.igonka svg{
		color: rgb(214, 217, 219);
		align-items: center;
	   
	}
	
	.burger{
		display: flex;
		justify-content: space-evenly;
		padding-top: 0rem;
		padding-bottom:0rem;
	}
	.menu_ooo{
		display: flex;
	      margin-top: 1rem;
	}
	
	.conponens{
		display:flex;
		gap: 2rem;
	    padding: 0;
		font-size: 1rem; 
	}
	.con_menu{
		display: block;
		padding-left: 20px;
		padding-right: 20px;
	}
	
	
	.text_to img {
 
		width: 200px;
		 height: 1vh;
		 border-radius: 5px;
	}
	
	
	
	
	
	.menu_burger{
		display: block;
		justify-content: center;
		gap: 0;
	}
	
	.nav a{
		text-decoration: none;
		color: rgb(236, 236, 233);
		font-size: 35px;
	}
	.nav img:hover{
		width: 95px;
	
	}
	.lia img{
		margin-left: 8px;
		margin-right: 8px;
	}
	.nav img{
		width: 180px;
	}
	.menu_burger img:hover{
		transform: rotate(360deg);
		transition: 0.4s;
	}

}



@media  (min-width:380px ) and (  max-width:480px){
	.igonka svg{
		color: rgb(214, 217, 219);
		align-items: center;
	   
	}
	
	.burger{
		display: flex;
		justify-content: space-evenly;
		padding-top: 0rem;
		padding-bottom:0rem;
	}
	.menu_ooo{
		display: flex;
	      margin-top: 1rem;
	}
	
	.conponens{
		display:flex;
		gap: 2rem;
	    padding: 0;
		font-size: 1rem; 
	}
	.con_menu{
		display: block;
		padding-left: 20px;
		padding-right: 20px;
	}
	
	
	.text_to img {
 
		width: 200px;
		 height: 1vh;
		 border-radius: 5px;
	}
	
	
	
	
	
	.menu_burger{
		display: block;
		justify-content: center;
		gap: 0;
	}
	
	.nav a{
		text-decoration: none;
		color: rgb(236, 236, 233);
		font-size: 35px;
	}
	.nav img:hover{
		width: 95px;
	
	}
	.lia img{
		margin-left: 8px;
		margin-right: 8px;
	}
	.nav img{
		width: 180px;
	}
	.menu_burger img:hover{
		transform: rotate(360deg);
		transition: 0.4s;
	}
	
}



@media  (min-width:480px ) and (  max-width:600px){
	
	.igonka svg{
		color: rgb(214, 217, 219);
		align-items: center;
	   
	}
	
	.burger{
		display: flex;
		justify-content: space-evenly;
		padding-top: 0rem;
		padding-bottom:0rem;
	}
	.menu_ooo{
		display: flex;
	      margin-top: 1rem;
	}
	
	.conponens{
		display:flex;
		gap: 2rem;
	    padding: 0;
		font-size: 1rem; 
	}
	.con_menu{
		display: block;
		padding-left: 20px;
		padding-right: 20px;
	}
	
	
	.text_to img {
 
		width: 200px;
		 height: 1vh;
		 border-radius: 5px;
	}
	
	
	
	
	
	.menu_burger{
		display: block;
		justify-content: center;
		gap: 0;
	}
	
	.nav a{
		text-decoration: none;
		color: rgb(236, 236, 233);
		font-size: 35px;
	}
	.nav img:hover{
		width: 95px;
	
	}
	.lia img{
		margin-left: 8px;
		margin-right: 8px;
	}
	.nav img{
		width: 180px;
	}
	.menu_burger img:hover{
		transform: rotate(360deg);
		transition: 0.4s;
	}
}
@media  (min-width:600px ) and (  max-width:980px){


	.igonka svg{
		color: rgb(214, 217, 219);
		align-items: center;
	   
	}
	
	.burger{
		display: flex;
		justify-content: space-evenly;
		padding-top: 0rem;
		padding-bottom:0rem;
	}
	.menu_ooo{
		display: flex;
	      margin-top: 1rem;
	}
	
	.conponens{
		display:flex;
		gap: 2rem;
	    padding: 0;
		font-size: 1rem; 
	}
	.con_menu{
		display: block;
		padding-left: 20px;
		padding-right: 20px;
	}
	
	
	.text_to img {
 
		width: 200px;
		 height: 1vh;
		 border-radius: 5px;
	}
	
	
	
	
	
	.menu_burger{
		display: block;
		justify-content: center;
		gap: 0;
	}
	
	.nav a{
		text-decoration: none;
		color: rgb(236, 236, 233);
		font-size: 35px;
	}
	.nav img:hover{
		width: 95px;
	
	}
	.lia img{
		margin-left: 8px;
		margin-right: 8px;
	}
	.nav img{
		width: 180px;
	}
	.menu_burger img:hover{
		transform: rotate(360deg);
		transition: 0.4s;
	}

	

}
@media  (min-width:981px ) and (  max-width:1200px){
	.con_menu{
		display:flex;
		padding-left: 20px;
		padding-right: 20px;
	}
}


