
body{
	background-color: black;
}
.burger{
	display: flex;
	justify-content: space-evenly;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}
.igonka svg{
    color: rgb(214, 217, 219);
    align-items: center;
   
}

.menu_ooo{
	display: flex;
	justify-content: center;
	
	


}

.conponens{
	display: flex;
    gap: 2rem;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 1.5rem; 
}
.conponens a{
	text-decoration: none ;
	color: azure;
	transition: .2s ease-in;
	
}
.van:hover  a{
	  color: rgb(21, 111, 117);
	  font-size: 25px;
	  transform: scale(1.1);
	transition: .2s ease-in;
}



.nav a{
	color: rgb(0, 0, 0);

}

.burger_menu{
	display: flex;
    justify-content: space-between;
	gap: 5rem;
}
.menu_burger{
	display: flex;
	justify-content:space-between;
	gap: 25rem;
	padding: 15px;
	
}
.nav{
    display: flex;
    justify-content: space-evenly;
}
.nav a{
    text-decoration: none;
    color: rgb(236, 236, 233);
    font-size: 35px;
}
.nav img:hover{
    width: 195px;

}

.nav img{
    width: 180px;
}
.menu_burger img:hover{
    transform: rotate(360deg);
	transition: 0.4s;
}


