.text_to{
    display: flex;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.text_to h1 {
    white-space: nowrap;
    color: white;
    font-size: 6rem;
}
.text_to img {
 
    width: 500px;
     height: 1vh;
     border-radius: 5px;
}
.React_section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
}
.menu_menu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 2rem;
    
}
.menu_menu img{
    width: 400px;
    align-items: center;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    
}
.menu_100{
    background-color: antiquewhite;
    border-radius: 15px;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}
.menu_100 a{
    color: rgb(22, 23, 24);
    outline: 2px solid #1684a5;
    outline-offset: 2px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 15px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-left: 10px;
    margin-right: 10px;
   
}
.menu_100 li{
    list-style: none;
}
.menu_100 a:hover{
    background-color: rgb(23, 119, 119);
    transition: 0.7s;
    color: azure;
  
}
.menu_100 h1{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    font-size: 28px;
    color: rgb(16, 17, 17);
    align-items: center;
}
.menu_100 img{
    height: 31vh;
    transition: .5s ease-in;
}
.menu_100 img:hover{
    transform: scale(1.09);
    transition: .5s ease-in;
}
.menu_500{
    display: flex;
    justify-content: center;
    gap: 1.8rem;
}
.menu_200{
    background-color: antiquewhite;
    border-radius: 15px;
    flex-direction: column;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;

}
.menu_200 a{
    color: rgb(22, 23, 24);
    outline: 2px solid #1684a5;
    outline-offset: 2px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 15px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-left: 10px;
    margin-right: 10px;
}
.menu_200 li{
    list-style: none;
}
.menu_200 a:hover{
    background-color: rgb(23, 119, 119);
    transition: 0.7s;
    color: azure;
  
}
.menu_200 h1{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    font-size: 28px;
    color: rgb(16, 17, 17);
    align-items: center;
}
.menu_200 img{
    height: 31vh;
    transition: .5s ease-in;
}
.menu_200 img:hover{
    transform: scale(1.09);
    transition: .5s ease-in;
}
.menu_200 h1{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    font-size: 30px;
    color: rgb(16, 17, 17);
    align-items: center;
}

.menu_200 a{
    color: rgb(22, 23, 24);
    outline: 2px solid #1684a5;
    outline-offset: 2px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;
   
}
.menu_200 li{
    list-style: none;
}
.menu_200 a:hover{
    background-color: rgb(23, 119, 119);
    transition: 0.7s;
    color: azure;
  
}


.menu_200 a{
    color: rgb(22, 23, 24);
    outline: 2px solid #1684a5;
    outline-offset: 2px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;
   
}
.menu_200 li{
    list-style: none;
}
.menu_200 a:hover{
    background-color: rgb(23, 119, 119);
    transition: 0.7s;
    color: azure;
  
}
.menu_200 h1{
    padding-top: 1.1rem;
    font-size: 25px;
    color: rgb(16, 17, 17);
    align-items: center;
    display: flex;
    justify-content: center;
}
.menu_200 img{
    height: 28vh;
}
.menu_200 img:hover{
    transform: scale(1.09);
    transition: .5s ease-in;
}
.menu_200{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 
  
}
.menu_200 img{
    width: 400px;
    border-radius: 15px;
}

.menu_200 a{
    color: rgb(22, 23, 24);
    outline: 2px solid #1684a5;
    outline-offset: 2px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}
.menu_200 li{
   list-style: none;
}
.menu_200 a:hover{
    background-color: rgb(23, 119, 119);
    transition: 0.7s;
    color: azure;
  
}
.menu_200 h1{
    padding-top: 1rem;
    font-size: 28px;
    color: rgb(16, 17, 17);
    align-items: center;
    display: flex;
    justify-content: center;
}
.menu_200 img{
    height: 28vh;
}












.uslugi00{
    padding-top: 8rem;
    display: flex;
    justify-content: space-evenly;

}


/* 1 */
.uslugi_100{
    background-color: antiquewhite;
    border-radius: 15px;
    padding: 75px;
 

}

.uslugi_100 img {
    width: 150px;
   
   
}
.uslugi_100 h1{
    padding-top: 2rem;
    
}
/* 2 */

.uslugi_200{
    background-color: antiquewhite;
    border-radius: 15px;
    padding: 75px;
   
  
}
.uslugi_200 img {
    width: 150px;
    display: flex;
    justify-content: center;
  
    
}
.uslugi_200 h1{
    padding-top: 2rem;
    
}
/* 3 */
.uslugi_300{
    background-color: antiquewhite;
    border-radius: 15px;
    padding: 75px;
}
.uslugi_300 img {
    width: 150px;
    display: flex;
    justify-content: center;
  
}
.uslugi_300 h1{
    padding-top: 2rem;
    
}
/* 4 */
.uslugi_400{
    background-color: antiquewhite;
    border-radius: 15px;
    padding: 75px;
}
.uslugi_400 img {
    width: 150px;   
 
}
.uslugi_4z00 h1{
    padding-top: 7rem;
    
}

.li_300 {
    display: flex;
    align-items: center;
    gap: 15px;

}
.li_300 p{
    margin-top: 15px;
    margin-bottom: 15px;
}
.li_300 svg{
    color: rgb(25, 192, 48);
}
/* 2 */
.li_300 {
    display: flex;
    align-items: center;
    gap: 15px;

}
.li_300 p{
    margin-top: 15px;
    margin-bottom: 15px;
}
.li_300 svg{
    color: rgb(25, 192, 48);
}







.text_tol{
    display: flex;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.text_tol h1 {
    white-space: nowrap;
    color: white;
    font-size: 6rem;
}
.text_tol img {
 
    width: 670px;
     height: 1vh;
     border-radius: 5px;
}
@media  (min-width:600px ) and (  max-width:1380px){
    .text_to h1{
        font-size: 50px;
    }
    .text_to img{
        width: 390px;
    }
    .text_tol h1{
        font-size: 45px;
    }
    .text_tol img{
        width: 500px    ;
    }
    .uslugi_100{
        padding: 25px;
    }
    .uslugi_200{
        padding: 25px;
    }
    .uslugi_300{
        padding: 25px;
    }
    .uslugi_400{
        padding: 25px;
    }
}