@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Qwitcher+Grypen&display=swap');

.menu_video{
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  

}
video{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    
    height: 100%;
    object-fit: cover;
}
video:after{
    content: '';
    display: flex;
    position: absolute;
    background-color: rgba(0, 0, 2, 10);
    top: 0;
    left: 0;
    z-index: 2;
}
.text_video{
    position: relative;
    z-index: 2;
    display: flex;
    flex: 1 1 auto  ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
   
}
.text_video h1{
    font-size: 8rem;
    font-family: 'Abril Fatface', cursive;
    color: rgb(255, 255, 255);
    background-color: rgba(10, 10, 10, 0.342);
    border-radius: 15px;
}
.text_video a{
    outline: 2px solid #b9dee9;
    outline-offset: 2px;
    color: antiquewhite;
    padding: 15px 100px 15px 100px;
    text-decoration: none;
    border-radius: 15px;
}
.text_video a:hover{
    background-color: antiquewhite;
    color: black;
    transition: 0.15s;
    padding: 15px 100px 15px 100px;
}
.video_button li{
    list-style: none;
}
.video_button{
    display: flex;
    gap: 4rem;
}

