.menu{
    background-image: url('../../../foto/or.jpg');
    background-attachment: fixed;
    height: 120vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.menu_text{
    color: azure;
    display: flex;
    justify-content: center;
    align-items: center;

}
.menu_text h1{
    text-align: center;
    font-size: 7rem;
    background-color: rgba(2, 2, 2, 0.61);
    color: rgb(255, 255, 255);
    border-radius: 15px;
}

.menu_tex_2{
 text-align: center;
 padding-top: 10rem;
  
}
.menu_tex_2 h2{
    color: aliceblue;
    transition: 0.7s;
}
.menu_tex_2 h2:hover{
    color: rgba(250, 250, 250, 0);
    transition: 0.7s;
}
.menu_tex_2 svg{
    color: aliceblue;
    width: 100px;
}
.menu_tex_2 svg:hover{
    transform: translate(0,35px);
    -webkit-transform: translate(0,35px);
    -o-transform: translate(0,35px);
    -moz-transform: translate(0,35px);
    transition: 0.25s;
  
}
/* menu_0 */
.menu_0{
    background-image: url('../../../foto/ar4.jpeg');
    background-attachment: fixed;
    height: 130vh;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.di_4{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.di_4{
    display: flex;
    justify-content: center;
    gap: 2rem;
    
   
}
.d_1{
    text-align: center;
    color: aliceblue;
    
}
.d_1 h1{
    font-size: 5rem;
} 
.d_2{
    background-color: rgba(15, 15, 15, 0.603);  
    padding: 2rem;
    border-radius: 10px;
    color: aliceblue;
    font-size: 1.5rem;
}
.p_1{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.p_1 svg{
    color: rgb(22, 211, 22);
}

.menu_1{
    background-image: url('../../../foto/ar3.jpg');
    background-attachment: fixed;
    height: 130vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.a_1 h1{
text-align: center;
}
.aa{
    background-color: rgba(0, 0, 0, 0.397);
    padding: 4rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.a_1{
    color: aliceblue;
}
.h6{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.h6 svg{
    color: rgb(228, 133, 8);
}
.menu_2{
    background-image: url('../../../foto/ar2.jpg');
    background-attachment: fixed;
    height: 130vh;
    background-size: cover;
}
.menu_4{
    background-color: aliceblue;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: black;
    gap: 3rem;
    padding: 5rem;
}
.div_1{
    text-align: center;
}
.div_3{
    display: flex;
    justify-content: space-evenly;
}
.di_1{
    text-align: center;
    -webkit-box-shadow: 0px 3px 14px 10px rgba(34, 60, 80, 0.21);
    -moz-box-shadow: 0px 3px 14px 10px rgba(34, 60, 80, 0.21);
     box-shadow: 0px 3px 14px 10px rgba(34, 60, 80, 0.21);
     padding: 1rem;
     border-radius: 10px;
}
.di_1 img{
    width: 120px;
}
.di_2{
    text-align: center;
    -webkit-box-shadow: 0px 3px 14px 10px rgba(34, 60, 80, 0.21);
    -moz-box-shadow: 0px 3px 14px 10px rgba(34, 60, 80, 0.21);
     box-shadow: 0px 3px 14px 10px rgba(34, 60, 80, 0.21);
     padding: 1rem;
     border-radius: 10px;
}
.di_2 img{
    width: 120px;
}
.di_3{
    text-align: center;
    -webkit-box-shadow: 0px 3px 14px 10px rgba(34, 60, 80, 0.21);
    -moz-box-shadow: 0px 3px 14px 10px rgba(34, 60, 80, 0.21);
     box-shadow: 0px 3px 14px 10px rgba(34, 60, 80, 0.21);
     padding: 1rem;
     border-radius: 10px;
}
.di_3 img{
    width: 120px;
}
.menu_4_2{
    display: flex;
    justify-content: center;
    gap: 1rem;
    background-color: aliceblue;
    background-attachment: fixed;
    padding: 15rem;
}
.im_1 img{
   width:360px;
   height: 28vh;
}
.im_1 h1{
    font-size: 20px;
}
.im_1 a{
    text-decoration: none;
  display: flex;
  justify-content: center;
}
.im_1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    -webkit-box-shadow: 0px 3px 14px 10px rgba(34, 60, 80, 0.21);
    -moz-box-shadow: 0px 3px 14px 10px rgba(34, 60, 80, 0.21);
     box-shadow: 0px 3px 14px 10px rgba(34, 60, 80, 0.21);
     padding: 1rem;
     border-radius: 10px;
}
.iv_1{
    display: flex;
    justify-content: space-between;
}
.im_1 h1{
    text-align: center;
}
.im_1 a{
    text-decoration: none;
   display: flex;
   justify-content: center;
   color: rgb(10, 10, 10);
    outline: 2px solid rgb(14, 13, 13);
    align-items: flex-end;
    padding: 2px;
    border-radius: 10px;
   
}
.im_1 a:hover{
    background-color:blanchedalmond ;
  
}


.im_2 img{
    width:360px ;
 }
 .im_2 h1{
     font-size: 20px;
 }
 .im_2 a{
     text-decoration: none;
    display: flex;
    justify-content: center;
    color: rgb(10, 10, 10);
     outline: 2px solid rgb(14, 13, 13);
     align-items: flex-end;
     padding: 2px;
     border-radius: 10px;
    
 }
 .im_2 a:hover{
     background-color:blanchedalmond ;
   
 }
 .im_2{
     display: flex;
     flex-direction: column;
     gap: 10px;
     -webkit-box-shadow: 0px 3px 14px 10px rgba(34, 60, 80, 0.21);
    -moz-box-shadow: 0px 3px 14px 10px rgba(34, 60, 80, 0.21);
     box-shadow: 0px 3px 14px 10px rgba(34, 60, 80, 0.21);
     padding: 1rem;
     border-radius: 10px;
 }
 .iv_2{
     display: flex;
     justify-content: space-between;
 }
 .im_2   h1{
    text-align: center;
}





 .im_3 img{
    width:360px ;
 }
 .im_3 h1{
     font-size: 20px;
 }
 .im_3 a{
     text-decoration: none;
   display: flex;
   justify-content: center;
 }
 .im_3{
     display: flex;
     flex-direction: column;
     gap: 10px;
     -webkit-box-shadow: 0px 3px 14px 10px rgba(34, 60, 80, 0.21);
    -moz-box-shadow: 0px 3px 14px 10px rgba(34, 60, 80, 0.21);
     box-shadow: 0px 3px 14px 10px rgba(34, 60, 80, 0.21);
     padding: 1rem;
     border-radius: 10px;
 }
 .iv_3{
     display: flex;
     justify-content: space-between;
 }
 .im_3 h1{
    text-align: center;
}
.im_3 a{
    text-decoration: none;
   display: flex;
   justify-content: center;
   color: rgb(10, 10, 10);
    outline: 2px solid rgb(14, 13, 13);
    align-items: flex-end;
    padding: 2px;
    border-radius: 10px;
   
}
.im_3 a:hover{
    background-color:blanchedalmond ;
  
}



 .im_4 img{
    width:360px ;
    height: 28vh;
 }
 .im_4 h1{
     font-size: 20px;
 }
 .im_4 a{
     text-decoration: none;
   display: flex;
   justify-content: center;
 }
 .im_4{
     display: flex;
     flex-direction: column;
     gap: 10px;
     -webkit-box-shadow: 0px 3px 14px 10px rgba(34, 60, 80, 0.21);
    -moz-box-shadow: 0px 3px 14px 10px rgba(34, 60, 80, 0.21);
     box-shadow: 0px 3px 14px 10px rgba(34, 60, 80, 0.21);
     padding: 1rem;
     border-radius: 10px;
 }
.im_4 h1{
    text-align: center;
}
.im_4 a{
    text-decoration: none;
   display: flex;
   justify-content: center;
   color: rgb(10, 10, 10);
    outline: 2px solid rgb(14, 13, 13);
    align-items: flex-end;
    padding: 2px;
    border-radius: 10px;
   
}
.im_4 a:hover{
    background-color:blanchedalmond ;
  
}
.menu_4_1{
    background-color: aliceblue;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
     padding: 4rem;

}
.menu_4_1 h1{
    text-align: center;
    padding: 30px;
}
.menu_4_1 h5{
    text-align: center;
    padding: 20px;
}
.menu_text_4_1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
}
.p_2{
    display: flex;
    gap: 5px;
}
.p_2 svg{
    color: rgb(17, 182, 39);
}
.y_ot{
    justify-content: center;
    align-items: center;
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
}

.ot{
    text-align: center;
    padding: 5rem;
}
.ot h1{
    color: rgb(2, 2, 2);
    font-size: 55px;
}
.ot p{
    background-color: aliceblue;
    padding: 5px;
    border-radius: 25px;

}
.y_1{
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.507);
    color: aliceblue;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.y_1 h4{
    color: rgb(45, 16, 175);
}
.y_1 p{
    color: rgba(240, 248, 255, 0.452);
    text-align: center;
}
.y_1 img{
    width: 100px;
    border-radius: 50%;
}
.y_1_img{
    display: flex;
    align-items: center;
    gap: 1rem;
}










.y_2{
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.507);
    color: aliceblue;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.y_2 h4{
    color: rgb(45, 16, 175);
}
.y_2 p{
    color: rgba(240, 248, 255, 0.452);
}
.y_2 img{
    width: 100px;
    border-radius: 50%;
}
.y_2_img{
    display: flex;
    align-items: center;
    gap: 1rem;
}










.y_3{
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.507);
    color: aliceblue;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.y_3 h4{
    color: rgb(45, 16, 175);
}
.y_3 p{
    color: rgba(240, 248, 255, 0.452);
}

.y_3 img{
    width: 100px;
    border-radius: 50%;
}
.y_3_img{
    display: flex;
    align-items: center;
    gap: 1rem;
}












.y_4{
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.507);
    color: aliceblue;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.y_4 h4{
    color: rgb(45, 16, 175);
}
.y_4 p{
    color: rgba(240, 248, 255, 0.452);
}

.y_4 img{
    width: 100px;
    border-radius: 50%;
}
.y_4_img{
    display: flex;
    align-items: center;
    gap: 1rem;
}










.y_5{
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.507);
    color: aliceblue;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.y_5 h4{
    color: rgb(45, 16, 175);
}
.y_5 p{
    color: rgba(240, 248, 255, 0.452);
}

.y_5 img{
    width: 100px;
    border-radius: 50%;
}
.y_5_img{
    display: flex;
    align-items: center;
    gap: 1rem;
}






.y_6{
    
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.507);
    color: aliceblue;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.y_6 h4{
    color: rgb(45, 16, 175);
}
.y_6 p{
    color: rgba(240, 248, 255, 0.452);
}
.y_6 img{
    width: 100px;
    border-radius: 50%;
}
.y_6_img{
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media  (min-width:350px ) and ( max-width:500px){

.menu{
    background-image: url('../../../foto/sedany/wih480.jpg');
    height: 80vh;
    padding-left: 0.9rem;
    padding-right: 0.9rem;

}
.menu_text h1{
    font-size: 30px;
    background: none;
    margin-right: 1rem;
}
.menu_tex_2 h2{
    font-size: 20px;
}
.svg_1 svg{
    width: 70px;
    height: 15vh;
}
.menu_tex_2{
    padding-top: 3rem;
}
.div_3{
    display: flex;
   flex-direction: column;
   gap: 2rem;

}
.menu_0{
    height: 100vh;
    width: 450px;
    background-size: auto;
}

.d_1 h1{
    font-size: 2rem;
    padding: 0;
    margin-right: 3rem;
} 
.d_2 p{
    font-size: 10px;
     padding: 5px;
     
}

.d_2 svg{
    width: 10px;
}
.menu_4_1{
    padding: 15px;
    
}
.menu_4_1 h6{
    font-size: 12px;
}
.menu_1{
    height: 120vh;

}
.aa{
    padding-left: 2rem;
    padding-right: 2rem;
    padding: 0;
    gap: 0;
    
}
.a_1{
    margin-left: 1rem;
    margin-right: 1rem;
}
.a_1 h1{
  font-size: 15px;
}
.a_1 h6{
    font-size: 15px;
}
.a_1 h4{
    font-size: 0;
}
.h6 svg{
    width: 40px;
  
}
.h6{
    gap: 0;
}
.menu_4_2{
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 3rem;
    padding-top: 15px;
    margin: 0;
    gap: 2rem;
}
.im_1 img{
    width: 308px;
}


.im_2 img{
    width: 308px;
}

.im_3 img{
    width: 308px;
}



.im_4 img{
    width: 308px;
}


.menu_2{
    padding: 0;
    margin: 0;
    height: 150vh;
}
.ot h1{
font-size: 20px;
padding: 0;
margin: 0;
}
.ot p{
    font-size: 10px;
}
.y_1 {
 padding: 40px;
 margin-right: 1.3rem;

}

.y_2 {
    padding: 10px;
    margin-left: 1rem;
    margin-right: 2.5rem;
   
   }

   .y_3 {
    padding: 10px;
    margin-left: 1rem;
    margin-right: 2.5rem;
   }

   .y_4 h6{
       font-size: 0;
   }
   .y_4_img img{
       width: 0;
   }
   .y_4_img h4,p{
       font-size: 0;
   }
   .y_4 {
    background: none;
   
   }

   .y_5 h6{
    font-size: 0;
}
.y_5_img img{
    width: 0;
}
.y_5_img h4,p{
    font-size: 0;
}
.y_5 {
 background: none;

}

.y_6 h6{
    font-size: 0;
}
.y_6_img img{
    width: 0;
}
.y_6_img h4,p{
    font-size: 0;
}
.y_6 {
 background: none;

}








}







