
.menu_00 {
   background-image: url(../../../foto/foon_11111.jpg);
   background-attachment: fixed;
   height: 130vh;
   background-size: cover;


  
}
.menu_tex{
    padding-top: 25rem;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-right: 15rem;
    margin-left: 15rem;
  
}

.menu_tex_1{
   background-color: rgba(7, 7, 7, 0.493);
   padding: 15px;
   border-radius: 15px;
 
}
.menu_tex_1 h1{
    font-size: 4rem;    
}

.menu_tex_1 p{
    font-size: 2rem;
}
.menu_tex_2{
    padding-top: 18rem;
    
}


.menu_tex_2 h2:hover{
    color: rgba(240, 248, 255, 0);
    transition: 0.7s;
}
.menu_tex svg:hover{
  margin-top: 3rem;
  transition: 0.7s;
  width: 70px;
}
.text{

    background-image: url(../../../foto/foon2222.jpg);
    background-attachment: fixed;
    height: 130vh;
    background-size: cover;
    

}
.text{
  display: flex;
  justify-content: center;
  background-color: rgba(255, 228, 196, 0.616);
  align-items: center;
}
.color{
    color: azure;
    background-color: rgba(0, 0, 0, 0.616);
    align-items: center;
    padding-top: 19.5rem;
    padding-bottom: 19.5rem;
    padding-left: 9rem;
    padding-right: 9rem;
    display: flex;
    flex-direction: column;
    gap: 8rem;
}


.text_1{
    background-image: url(../../../foto/foon33.jpg);
    background-attachment: fixed;
    height: 130vh;
    background-size: cover;
}
.text_1{
    display: flex;
    justify-content: center;
    background-color: rgba(255, 228, 196, 0.616);
    align-items: center;
}
.color_1{
    color: azure;
    background-color: rgba(0, 0, 0, 0.616);
    align-items: center;
    padding-top: 16.8rem;
    padding-bottom: 16.8rem;
    padding-left: 7.5rem;
    padding-right: 7.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8rem;
}

.color_2 h1{
    text-align: center;
}
.bac{
    background-image: url('../../../foto/fo-55.jpg');
    height: 130vh;
    background-size: cover;
    
}
.bac{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
   
}
.bac_1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8rem;
}
.bac_1{
    color: azure;
    background-color: rgba(0, 0, 0, 0.616);
    align-items: center;
    padding-top: 18.5rem;
    padding-bottom: 18.5rem;
    padding-left: 6rem;
    padding-right: 6rem;
}
@media  (min-width:350px ) and ( max-width:500px){

.menu_00{
    height: 100vh;
}
    .menu_tex {
    margin: 0;

}
.menu_tex_1 h1{
  font-size: 20px;
}
.menu_tex_1 p{
    font-size: 1rem;
}
.menu_tex_2{
    padding-top: 3rem;
    
}
.text_div p{
  font-size: 15px;
  
}
.text_div{
    margin-left: 2rem;
    margin-right: 2rem;
}
.text{
    height: 100vh;
}
.color{

   padding: 0;
   padding-left: 2rem;
    padding-right: 2rem;
   gap:2rem;
}
.color_2 p{
    font-size: 15px;
}
.text_1{
    height: 100vh;

}
.color_1{

    padding: 0;
    gap: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.bac{
    height: 130vh;
    gap: 0;
}
.bac_1{
    gap: 0;
    padding: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    padding: 2rem;
}
.bac_2 p{
  font-size: 15px;
}
.bac_3 p{
    font-size: 15px;
}















}